* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

nav > ul {
  text-decoration: none;
}

.image-reader {
  width: 105px;
  height: 105px;
  border-radius: 100%;
  border: 4px solid rgba(211, 138, 28, 0.555);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.cor-titulo {
  color: orange;
}

a :hover {
  color: rgb(17, 17, 17);
}
a {
  text-decoration: none;
  color: blanchedalmond;
}
.cor {
  color: gray;
}

.links {
  display: inline-block;
  margin-left: 20px;
}
.links > a {
  border-radius: 100%;
}

.links-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#linkedin:hover {
  box-shadow: 0 0 20px #141119;
}
#github:hover {
  box-shadow: 0 0 20px #141119;
}
#twitter:hover {
  box-shadow: 0 0 20px #141119;
}
#facebook:hover {
  box-shadow: 0 0 20px #141119;
}
